@CHARSET "US-ASCII";

.formtable {
	width: 100%;
	padding: 10px;
	text-align: left;
	border: 1px solid black;
}

input[type=text] {
	width: 250px;
	
}

input[type=password] {
	width: 250px;
	
}

textarea {
	width: 250px;
	height: 300px;
}

.label {
	text-align: right;
	vertical-align: top;
}

.control {
	margin-left: 10px;
}

.error {
	font-size: small;
	color: red;
	margin-left: 10px;
}

.valid {
	font-size: small;
	color: green;
	margin-left: 10px;
}

table.events {
	border: 1px solid gray;
	width: 960px;
	margin: 0 auto;
	line-height: 25px;
}

h3, #event, #details, #loginForm{
	width: 960px;
	margin: 0 auto;
	
}

.container{
	//background-color: white;
}

p.error {
	font-size: medium;
}

.events {
	text-align: center;
}
body{
	font-family: 'Arial', sans-serif;
	background-color: white;
}